<div class="flex flex-col gap-2 mt-4">
    <div class="grid grid-cols-[24px_minmax(0,1fr)] xs:grid-cols-[32px_minmax(0,1fr)] ">
        <div>
            <img src="{{ asset('images/user.webp') }}" width="50" alt="Froq Logo" class="rounded-full cursor-pointer ">
        </div>
        <div class="ml-2 flex items-center gap-1 cursor-pointer">
            <span class="text-sm font-medium  ">{{ message.name }}</span>
            <span class="inline-block my-0 mx-2xs text-12 text-gray-500">•</span>
            <span class="text-xs font-light text-gray-500">{{ message.date }}</span>
        </div>
    </div>
    <div class="grid grid-cols-[24px_1fr] xs:grid-cols-[32px_1fr] relative">
        <div class="w-6"></div>
        <div class="w-6 absolute z-[1]  top-0 left-0 bottom-0 w-lg xs:w-xl flex justify-center items-center z-0 cursor-pointer group mb-sm" aria-hidden="true">
            <div class="w-[1px] h-full group-hover:bg-gray-400 bg-gray-300"></div>
        </div>
        <div class="mb-2">
            <p class=" mx-2 text-sm font-light">
                {{ message.message }}
            </p>
        </div>
        <div class="flex items-center w-6 justify-center">
            {% if message.hasReply|default %}
                <a
                    href="{{ path('reddit_expand', { 'id': message.id, 'expand': expanded|default(false) ? 'true' : 'false' }) }}"
                    data-controller="toggle-reply"
                    data-action="click->toggle-reply#toggle"
                    data-turbo-frame="expand-message-{{ message.id }}"
                    data-toggle-reply-expanded-value="{{ expanded|default(false) ? 'true' : 'false' }}"
                    data-toggle-reply-identifier-value="{{ message.id }}"
                    class="cursor-pointer flex gap-2 rounded-full items-center p-1 text-xs hover:bg-gray-300">
                    {{ include('components/icons/circularAdd.html.twig') }}
{#                    {% if expanded|default(false) %}#}
{#                        {{ include('components/icons/circularMinus.html.twig') }}#}
{#                    {% else %}#}
{#                        {{ include('components/icons/circularAdd.html.twig') }}#}
{#                    {% endif %}#}
                </a>
            {% endif %}
        </div>
        <div class="flex">
            <div class="flex items-center">
                {{  component('icons/ArrowUp', { class: 'cursor-pointer rounded-full size-6 p-1 hover:bg-gray-300'}) }}
                <span class="text-sm">
                    {{ message.likes }}
                </span>
                {{ component('icons/ArrowDown', { class: 'cursor-pointer rounded-full size-6 p-1 hover:bg-gray-300 rotate-180'}) }}
            </div>
            <twig:Button>
                {{ component('icons/MessageCloud', { class: 'size-3' }) }}
                Reply
            </twig:Button>
            <twig:Button>
                {{ component('icons/Ribbon', { class: 'size-4' }) }}
                Award
            </twig:Button>
            <twig:Button>
                {{ component('icons/Share', { class: 'size-3' }) }}
                Share
            </twig:Button>
            <twig:Button>
                {{ component('icons/Ellipsis', { class: 'size-3' }) }}
            </twig:Button>
        </div>
        <div class="w-6"></div>
        <turbo-frame id="expand-message-{{ message.id }}" class="subcategory">
        </turbo-frame>
    </div>
</div>